# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml
*.txt
*.ipr
*.iws

# build
bin/
build/jar-temp/
build/testclasses/
releases/
test-resources/
tests/images-expected/
tests/images/
tests/images-expected/
target/
